In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

In [2]:
# Read the Excel file

UPSGround = pd.read_excel("D:/assignment/4th sem/Solution/UPSGround.xlsx")
USPSGround = pd.read_excel('D:/assignment/4th sem/Solution/USPSGround.xlsx')
FedEx2day = pd.read_csv('D:/assignment/4th sem/Solution/2DayCounter_Fedex.csv',encoding='latin1')
FedExGround = pd.read_csv('D:/assignment/4th sem/Solution/FHDCounter.csv',encoding='latin1')

                        
print(FedExGround.head())
print(FedEx2day.head())
print(USPSGround.head())
print(UPSGround.head())

   WeightStartOz  WeightEndOz  Zone 1  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6  \
0              0           16   12.09   12.09   12.59   13.12   13.63   14.09
1             16           32   12.84   12.84   13.72   14.45   14.68   15.01
2             32           48   12.85   12.85   13.74   14.47   15.02   15.58
3             48           64   12.88   12.88   13.77   14.50   16.39   18.82
4             64           80   12.90   12.90   13.79   14.65   17.27   19.89

   Zone 7  Zone 8  Zone 9  Zone 10
0   14.35   14.49   48.92    14.49
1   15.76   17.11   54.31    17.11
2   18.04   21.43   59.13    21.43
3   20.13   22.94   64.32    22.94
4   21.92   24.03   69.66    24.03
   WeightStartOz  WeightEndOz  Zone1  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6  \
0              0            8  23.83   23.83   24.84   25.90   30.99   37.22
1              8           16  23.83   23.83   24.84   25.90   30.99   37.22
2             16           32  24.80   24.80   26.06   26.90   33.67   41.97
3             32           48  25.20   25.20   26.90   28.48   37.07   48.22
4             48           64  25.97   25.97   27.84   30.84   43.28   55.71

   Zone 7  Zone 8  Zone9  Zone10
0   39.70   40.51  58.66   58.66
1   39.70   40.51  58.66   58.66
2   46.58   49.02  65.50   65.50
3   53.96   56.24  74.78   74.78
4   61.62   64.01  79.68   79.68
   WeightStartOz  WeightEndOz  Zone 1  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6  \
0              0            4     5.0     5.1    5.15    5.25    5.35     5.4
1              4            4     5.7     5.8    5.85    5.90    5.95     6.0
2              8            8     6.5     6.6    6.65    6.70    6.75     6.8
3             12           12     8.0     8.2    8.30    8.45    8.60     8.7
4             15           15     8.0     8.2    8.30    8.45    8.60     8.7

   Zone 7  Zone 8  Zone 9  Zone 10
0    5.45    5.55    5.55     5.55
1    6.05    6.15    6.15     6.15
2    6.90    7.00    7.00     7.00
3    8.85    9.00    9.00     9.00
4    8.85    9.00    9.00     9.00
   WeightStartOz  WeightEndOz  Zone 1  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6  \
0              1           16   10.70   10.70   11.12   12.15   12.70   13.00
1              2           32   11.53   11.53   12.71   13.90   14.20   14.82
2              3           48   12.00   12.00   13.38   14.37   15.10   15.72
3              4           64   12.35   12.35   13.47   15.11   16.08   16.37
4              5           80   12.56   12.56   13.95   15.33   16.64   17.31

   Zone 7  Zone 8  Zone 9  Zone 10
0   13.27   13.38   38.56    39.02
1   15.37   15.64   42.89    15.64
2   16.24   17.04   46.61    17.04
3   17.44   18.26   51.18    18.26
4   18.25   19.53   55.48    19.53

In [3]:
#UPSGround = pd.melt(UPSGround, id_vars=['WeightStartOz', 'WeightEndOz'], var_name='Zone', value_name='Value')
#UPSGround['Carrier'] = 'UPS'
#UPSGround['CarrierService'] = 'UPSGround'

In [4]:
def transform_df(df, additional_columns):
        df_melted = pd.melt(df, id_vars=['WeightStartOz', 'WeightEndOz'], var_name='Zone', value_name='Value')
       # Add additional columns
        for col_name, col_value in additional_columns.items():
            df_melted[col_name] = col_value
    
        return df_melted

In [5]:
FedEx2day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WeightStartOz  151 non-null    int64
 1   WeightEndOz    151 non-null    int64
 2   Zone1          151 non-null    float64
 3   Zone 2         151 non-null    float64
 4   Zone 3         151 non-null    float64
 5   Zone 4         151 non-null    float64
 6   Zone 5         151 non-null    float64
 7   Zone 6         151 non-null    float64
 8   Zone 7         151 non-null    float64
 9   Zone 8         151 non-null    float64
 10  Zone9          151 non-null    float64
 11  Zone10         151 non-null    float64
dtypes: float64(10), int64(2)
memory usage: 14.3 KB

In [6]:
FedEx2day= transform_df(FedEx2day, additional_columns={'Carrier': 'FedEx', 'CarrierService': 'FedEx2day' , 'Shipoption' : '2day'})
FedExGround = transform_df(FedExGround, additional_columns={'Carrier': 'FedEx', 'CarrierService': 'FedExGround','Shipoption' : 'Ground'})
UPSGround = transform_df(UPSGround, additional_columns={'Carrier': 'UPS', 'CarrierService': 'UPSGround','Shipoption' : 'Ground'})
USPSGround = transform_df(USPSGround, additional_columns={'Carrier': 'USPS', 'CarrierService': 'USPSGround','Shipoption' : 'Ground'})

In [7]:
df = pd.concat([FedEx2day, FedExGround, UPSGround, USPSGround])

In [8]:
df.head()

   WeightStartOz  WeightEndOz   Zone  Value Carrier CarrierService Shipoption
0              0            8  Zone1  23.83   FedEx      FedEx2day       2day
1              8           16  Zone1  23.83   FedEx      FedEx2day       2day
2             16           32  Zone1  24.80   FedEx      FedEx2day       2day
3             32           48  Zone1  25.20   FedEx      FedEx2day       2day
4             48           64  Zone1  25.97   FedEx      FedEx2day       2day

In [9]:

from sqlalchemy import create_engine
import pyodbc




# Define your SQL Server connection parameters
server = 'LAPTOP-2MROT4G8\SQLEXPRESS'
database = 'master'
table_name = 'Ratecard'



# Create a connection using pyodbc
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-2MROT4G8\SQLEXPRESS;'
    'DATABASE=master;'
    'Trusted_Connection=yes;'
)

       




# Create a connection string using Trusted Connection (Windows Authentication)
connection_string = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"

# Create an SQLAlchemy engine using the connection string
engine = create_engine(connection_string)

# Optional: Connect to the database and delete the existing table if it exists
#with engine.connect() as connection:
#    connection.execute(f"DROP TABLE IF EXISTS {table_name}")
#    print(f"Table {table_name} deleted (if it existed).")
#


# Load DataFrame into SQL Server table
df.to_sql(table_name, engine, if_exists='replace', index=False)

print("DataFrame successfully loaded into SQL Server table.")

DataFrame successfully loaded into SQL Server table.